### 데이터를 불러오기 위해서는 데이터가 저장되어 있는 위치를 알아야 합니다. 
### 제공한 데이터는 aiffel폴더 안에 저장해주시고, path라는 변수에 데이터 경로를 지정해주세요!!

In [2]:
import os
os.getcwd()

'/aiffel'

In [3]:
ls

aiffel/  data/  F8문제.ipynb  Salaries.csv

In [4]:
path = os.getenv("HOME")+"/aiffel/Salaries.csv"

### 데이터를 살펴보기 위해서 우리는 판다스와 넘파이를 불러와야 합니다.
* import를 이용해서 pandas, numpy 패키지를 불러오세요

In [5]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

### Salaries.csv 파일을 data라는 변수명으로 불러와주세요.
* 그냥 불러오면 데이터타입 경고창이 뜰 수 있으니, 해당 경고 메시지를 구글링해서 해결해보시고 왜 이러한 경고 메시지가 뜨는지 조원들과 상의해보세요!!

In [6]:
df = pd.read_csv('./Salaries.csv')

### 데이터를 불러오면 가장 먼저 해야할 것은 컬럼을 살펴보고 데이터가 어떤 정보를 가지고 있는지 확인하는 작업입니다.
* 컬럼명을 출력해보세요.

In [7]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

### 데이터를 살펴보기 위해 상위 5개, 하위 3개 row를 출력해보세요.

In [8]:
display(df.head(5))
display(df.tail(3))

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

### TotaltimePay column의 합, 평균, 표준편차, 중앙값을 출력해보세요.

In [9]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [10]:
df['TotalPay'].sum()

11114610134.380001

In [11]:
df['TotalPay'].mean()

74768.32197169267

In [12]:
df['TotalPay'].std()

50517.00527394987

In [13]:
df['TotalPay'].median()

71426.60999999999

### 컬럼별로 null값이 얼마나 있는지 확인해보세요.

In [14]:
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

### 가장 많은 TotalPay를 받는 직원의 위치를 출력해보세요.(출력되는 값은 인덱스)

In [15]:
df.index[df['TotalPay'] == df['TotalPay'].max()].to_list()

[0]

### OvertimePay 컬럼의 평균을 구해봅시다
`주의`: `TotaltimePay`컬럼과 같은 방법으로 구할 경우 제대로 구해지지 않습니다. 조원들과 문제를 파악해보고 해결해봅시다.

In [16]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [17]:
df[['OvertimePay']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 1 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   OvertimePay  148654 non-null  object
dtypes: object(1)
memory usage: 1.1+ MB

In [18]:
df[['OvertimePay']] = df[['OvertimePay']].replace('Not Provided', 0)

In [19]:
df[['OvertimePay']] = df[['OvertimePay']].astype({'OvertimePay': 'float'})

In [20]:
df[['OvertimePay']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 1 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   OvertimePay  148654 non-null  float64
dtypes: float64(1)
memory usage: 1.1 MB

In [21]:
df[['OvertimePay']].mean()

OvertimePay    5065.923568
dtype: float64